<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Gastos</title>
</head>
<body>
<h1>Gastos</h1>

<a th:href="@{/gastos/nuevo}">Nuevo gasto</a>
<br><br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Concepto</th>
        <th>Categoría</th>
        <th>Monto</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="gasto : ${gastos}">
        <td th:text="${gasto.id}"></td>
        <td th:text="${gasto.concepto}"></td>
        <td th:text="${gasto.categoria}"></td>
        <td th:text="${gasto.monto}"></td>
        <td th:text="${gasto.fechaHora}"></td>
    </tr>
    </tbody>
</table>

<br>
<a th:href="@{/}">Volver al inicio</a>
</body>
</html>